{% extends 'base.html' %}
{% load static %}

{% block title %}
Flight Search - TripEase
{% endblock %}

{% block content %}

<div class="container" style="padding: 40px;">

<h2>Search Flights</h2>

<form method="GET" action="{% url 'flights:search' %}">

<div>

<label>From</label>
{{ form.source }}

</div>

<div>

<label>To</label>
{{ form.destination }}

</div>

<div>

<label>Date</label>
{{ form.departure_date }}

</div>

<div>

<label>Class</label>
{{ form.cabin_class }}

</div>

<div>

<label>Passengers</label>
{{ form.passengers }}

</div>

<br>

<button type="submit">
Search
</button>

</form>

<hr>

{% if search_performed %}

    {% if flights %}

        <h3>
        Available Flights ({{ flights|length }})
        </h3>

        <table border="1" cellpadding="10">

        <tr>

            <th>Flight</th>
            <th>Airline</th>
            <th>From</th>
            <th>To</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Seats</th>
            <th>Price</th>
            <th>Action</th>

        </tr>

        {% for flight in flights %}

        <tr>

            <td>
            {{ flight.flight_number }}
            </td>

            <td>
            {{ flight.airline }}
            </td>

            <td>
            {{ flight.source.city }}
            </td>

            <td>
            {{ flight.destination.city }}
            </td>

            <td>
            {{ flight.departure_time }}
            </td>

            <td>
            {{ flight.arrival_time }}
            </td>

            <td>
            {{ flight.available_seats }}
            </td>

            <td>
            ₹ {{ flight.price }}
            </td>

            <td>

            <a href="{% url 'flights:flight_detail' flight.id %}?cabin_class={{ cabin_class }}&passengers={{ passengers }}&departure_date={{ request.GET.departure_date }}">

            <button type="button">
            View Details
            </button>

            </a>

            </td>

        </tr>

        {% endfor %}

        </table>

    {% else %}

        <p>No flights found</p>

    {% endif %}

{% endif %}

</div>

{% endblock %}