{% extends 'base.html' %}

{% block title %}Flight Booking Details{% endblock %}

{% block content %}
<div class="container" style="max-width:900px; margin:40px auto;">
    <div class="card shadow-sm p-4 rounded-4">
        <h2 class="mb-4">Flight Booking Details</h2>

        <p><strong>Booking Reference:</strong> {{ booking.booking_reference }}</p>
        <p><strong>Status:</strong> {{ booking.booking_status }}</p>

        {% if booking.checked_in %}

        <p>
            <strong>Check-in:</strong>

            <span class="badge bg-success">

                ✓ Completed

            </span>

        </p>

        <p>

            <strong>Checked in at:</strong>

            {{ booking.checked_in_at|date:"d M Y, h:i A" }}

        </p>

        {% endif %}

        <p><strong>Passengers:</strong> {{ booking.number_of_passengers }}</p>
        <p><strong>Cabin Class:</strong> {{ booking.cabin_class }}</p>
        <p><strong>Total Price:</strong> ₹{{ booking.total_price }}</p>
        <p><strong>Booked On:</strong> {{ booking.created_at|date:"d M Y, h:i A" }}</p>

        <hr>

        <h4>Flight Info</h4>
        <p><strong>Flight:</strong> {{ booking.flight.flight_number }} - {{ booking.flight.airline }}</p>
        <p><strong>Route:</strong> {{ booking.flight.source.code }} → {{ booking.flight.destination.code }}</p>
        <p><strong>Departure:</strong> {{ booking.flight.departure_time|date:"d M Y, h:i A" }}</p>
        <p><strong>Arrival:</strong> {{ booking.flight.arrival_time|date:"d M Y, h:i A" }}</p>

        <hr>

        <h4>Passenger Details</h4>

        <table class="table table-bordered table-striped">

            <thead>

                <tr>

                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Seat</th>

                </tr>

            </thead>

            <tbody>

            {% for passenger in booking.passengers.all %}

                <tr>

                    <td>

                        {{ passenger.first_name }}
                        {{ passenger.last_name }}

                    </td>

                    <td>

                        {{ passenger.age }}

                    </td>

                    <td>

                        {{ passenger.gender }}

                    </td>

                    <td>

                        <strong>

                            {{ passenger.seat_number|default:"Not Selected" }}

                        </strong>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>
</div>
<hr>

{% if booking.booking_status == "pending" %}

    <a href="{% url 'payments:payment' booking.id %}"
       class="btn btn-success">

        Complete Payment

    </a>

{% elif booking.payment %}

<div class="alert alert-success mt-3">

    Payment Completed

    <br>

    Transaction ID:
    {{ booking.payment.transaction_id }}

</div>

{% endif %}

{% if booking.booking_status == "confirmed" and not booking.checked_in %}

<a
    href="{% url 'bookings:check_in' booking.booking_reference %}"
    class="btn btn-primary mt-3">

    ✈ Check-in

</a>

{% endif %}

{% if booking.booking_status != "cancelled" %}

    <a
        href="{% url 'bookings:cancel' booking.booking_reference %}"
        class="btn btn-danger mt-3"
        onclick="return confirm('Cancel this booking?');"
    >
        Cancel Booking
    </a>

{% else %}

<div class="alert alert-danger mt-3">

Booking Cancelled

</div>

{% endif %}
{% endblock %}