{% extends 'base.html' %}
{% load static %}

{% block title %}
My Bookings - TripEase
{% endblock %}

{% block content %}

<div class="container py-5">

    <h2 class="fw-bold mb-4">
        My Bookings
    </h2>

    {% if flight_bookings or hotel_bookings or package_bookings %}

        <div class="row">

            <!-- FLIGHT BOOKINGS -->
            {% for booking in flight_bookings %}

            <div class="col-lg-6 mb-4">

                <div class="card shadow border-0 h-100">

                    <div class="card-body">

                        <div class="d-flex justify-content-between align-items-center mb-3">

                            <span class="badge bg-primary">

                                Flight Booking

                            </span>

                            {% if booking.booking_status == "confirmed" %}

                                <span
                                    style="
                                        background:#10b981;
                                        color:white;
                                        padding:4px 12px;
                                        border-radius:20px;
                                        font-size:12px;
                                    "
                                >
                                    Confirmed
                                </span>

                            {% elif booking.booking_status == "pending" %}

                                <span
                                    style="
                                        background:#f59e0b;
                                        color:white;
                                        padding:4px 12px;
                                        border-radius:20px;
                                        font-size:12px;
                                    "
                                >
                                    Pending
                                </span>

                            {% elif booking.booking_status == "cancelled" %}

                                <span
                                    style="
                                        background:#ef4444;
                                        color:white;
                                        padding:4px 12px;
                                        border-radius:20px;
                                        font-size:12px;
                                    "
                                >
                                    Cancelled
                                </span>

                            {% endif %}

                            {% if booking.booking_status == "confirmed" %}

                                <div class="mb-3">

                                    {% if booking.checked_in %}

                                        <span
                                            style="
                                                background:#3b82f6;
                                                color:white;
                                                padding:4px 12px;
                                                border-radius:20px;
                                                font-size:12px;
                                            "
                                        >
                                            ✈ Check-in Completed
                                        </span>

                                    {% else %}

                                        <span
                                            style="
                                                background:#6b7280;
                                                color:white;
                                                padding:4px 12px;
                                                border-radius:20px;
                                                font-size:12px;
                                            "
                                        >
                                            ⏳ Check-in Pending
                                        </span>

                                    {% endif %}

                                </div>

                            {% endif %}

                        </div>

                        <h4 class="fw-bold">

                            {{ booking.flight.airline }}

                        </h4>

                        <p class="mb-3">

                            {{ booking.flight.get_display_flight_number }}

                        </p>

                        {% if booking.second_flight %}

                        <p class="fw-bold text-primary">

                            {{ booking.journey_route }}

                        </p>

                        <p class="text-muted">

                            Via {{ booking.via_city }}

                        </p>

                        <div class="card p-2 mb-3 bg-light">

                            <small>

                                <strong>Flight 1</strong><br>

                                {{ booking.flight.source.city }}
                                →

                                {{ booking.flight.destination.city }}

                                <br>

                                {{ booking.flight.get_display_flight_number }}

                            </small>

                            <hr>

                            <small>

                                <strong>Flight 2</strong><br>

                                {{ booking.second_flight.source.city }}
                                →

                                {{ booking.second_flight.destination.city }}

                                <br>

                                {{ booking.second_flight.get_display_flight_number }}

                            </small>

                        </div>

                        <p>

                            <strong>Total Journey Duration:</strong>

                            {{ booking.total_duration_display }}

                        </p>

                        {% else %}

                        <p class="text-muted">

                            {{ booking.journey_route }}

                        </p>

                        <p>

                            <strong>Duration:</strong>

                            {{ booking.flight.get_duration_display }}

                        </p>

                        {% endif %}

                        <p>

                            <strong>Date:</strong>

                            {{ booking.travel_date|date:"M d, Y" }}

                        </p>

                        <p>

                            <strong>Passengers:</strong>

                            {{ booking.number_of_passengers }}

                            {% if booking.checked_in %}

                            <p>

                                <strong>Seat:</strong>

                                {% for passenger in booking.passengers.all %}

                                    {{ passenger.seat_number }}{% if not forloop.last %}, {% endif %}

                                {% endfor %}

                            </p>

                            {% endif %}

                        </p>

                        <p>

                            <strong>Booking Ref:</strong>

                            {{ booking.booking_reference }}

                        </p>

                        <h4 class="text-primary fw-bold">
                            ₹{{ booking.total_price }}
                        </h4>

                        <div class="mt-3">

                            <a
                                class="btn btn-primary btn-sm"
                                href="{% url 'bookings:detail' booking.booking_reference %}">
                                View Details
                            </a>

                            {% if booking.checked_in and booking.boarding_pass_pdf %}

                                <a
                                    class="btn btn-success btn-sm"
                                    href="{{ booking.boarding_pass_pdf.url }}"
                                    target="_blank">

                                    📄 Boarding Pass

                                </a>

                            {% endif %}

                            <a
                                href="{% url 'integrations:track_booking_flight' booking.booking_reference %}"
                                class="btn btn-outline-primary btn-sm">

                                ✈ Track Flight

                            </a>

                        </div>

                    </div>

                </div>

            </div>
            

            {% endfor %}


            <!-- HOTEL BOOKINGS -->
            {% for booking in hotel_bookings %}

            <div class="col-lg-6 mb-4">

                <div class="card shadow border-0 h-100">

                    <div class="card-body">

                        <span class="badge bg-success mb-3">
                            Hotel Booking

                            <div style="margin-bottom:10px;">

                                {% if booking.booking_status == "confirmed" %}

                                    <span
                                        style="
                                            background:#10b981;
                                            color:white;
                                            padding:4px 10px;
                                            border-radius:20px;
                                            font-size:12px;
                                        "
                                    >
                                        Confirmed
                                    </span>

                                {% elif booking.booking_status == "cancelled" %}

                                    <span
                                        style="
                                            background:#ef4444;
                                            color:white;
                                            padding:4px 10px;
                                            border-radius:20px;
                                            font-size:12px;
                                        "
                                    >
                                        Cancelled
                                    </span>

                                {% endif %}

                            </div>
                            </span>

                        <h4 class="fw-bold">
                            {{ booking.hotel.name }}
                        </h4>

                        <p class="text-muted">
                            {{ booking.hotel.city }}
                        </p>

                        <p>
                            <strong>Room:</strong>
                            {{ booking.room.get_room_type_display }}
                        </p>

                        <p>
                            <strong>Guests:</strong>
                            {{ booking.guests }}
                        </p>

                        <p>
                            <strong>Rooms:</strong>
                            {{ booking.rooms_count }}
                        </p>

                        <p>
                            <strong>Check-in:</strong>
                            {{ booking.check_in_date }}
                        </p>

                        <p>
                            <strong>Check-out:</strong>
                            {{ booking.check_out_date }}
                        </p>

                        <p>
                            <strong>Booking Ref:</strong>
                            {{ booking.booking_reference }}
                        </p>

                        <h4 class="text-primary fw-bold">
                            ₹{{ booking.total_price }}
                        </h4>

                        <div class="mt-3">

                            <a
                                class="btn btn-primary btn-sm"
                                href="{% url 'hotels:booking_detail' booking.booking_reference %}">
                                View Details
                            </a>

                            {% if booking.booking_status != "cancelled" %}

                                <a
                                    class="btn btn-danger btn-sm"
                                    href="{% url 'hotels:cancel_booking' booking.booking_reference %}"
                                    onclick="return confirm('Cancel this hotel booking?');">

                                    Cancel

                                </a>

                            {% endif %}

                        </div>


                    </div>

                </div>

            </div>

            {% endfor %}

            <!-- PACKAGE BOOKINGS -->
            {% for booking in package_bookings %}

<div class="col-lg-6 mb-4">

    <div class="card shadow border-0 h-100">

        <div class="card-body">

            <span class="badge bg-warning text-dark mb-3">
                Package Booking
            </span>

            <h4 class="fw-bold">
                {{ booking.package.name }}
            </h4>

            <p class="text-muted">
                {{ booking.package.destination }}
            </p>

            <p>
                <strong>Travel Date:</strong>
                {{ booking.travel_date }}
            </p>

            <p>
                <strong>Travellers:</strong>
                {{ booking.travellers_count }}
            </p>

            <p>
                <strong>Booking Ref:</strong>
                {{ booking.booking_reference }}
            </p>

            <p>
                <strong>Duration:</strong>
                {{ booking.package.duration_days }}
                Days /
                {{ booking.package.duration_nights }}
                Nights
            </p>

            <h4 class="text-primary fw-bold">
                ₹{{ booking.total_price }}
            </h4>

            <div class="mt-3">

                <a
                    class="btn btn-primary btn-sm"
                    href="{% url 'packages:booking_detail' booking.booking_reference %}">
                    View Details
                </a>

                {% if booking.booking_status != "cancelled" %}

                    <a
                        class="btn btn-danger btn-sm"
                        href="{% url 'packages:cancel_booking' booking.booking_reference %}"
                        onclick="return confirm('Cancel this package booking?');">
                        Cancel
                    </a>

                {% endif %}

            </div>

        </div>

    </div>

</div>

{% endfor %}
        </div>

    {% else %}

        <div class="alert alert-info">
            No bookings found.
        </div>

    {% endif %}

</div>

{% endblock %}